.footer-container {
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 50px 35px;
}
.footer-container h2 {
  font-size: 34px;
  font-style: italic;
  padding-bottom: 20px;
}
.footer-container h3 {
  padding-bottom: 15px;
}
.footer-column1,
.footer-column2,
.footer-column3,
.footer-column4 {
  width: 25%;
}
.footer-column2,
.footer-column3,
.footer-column4 {
  padding-top: 15px;
  margin-left: 50px;
}
.footer-column1 a {
  text-decoration: none;
  color: #fff;
  padding-right: 1px;
}
.footer-column3 p {
  padding-bottom: 25px;
}
.footer-column4 i {
  font-size: 24px;
  padding: 0px 10px;
  color: #d6000d;
}

@media all and (max-width: 668px) {
  .footer-container {
    display: block;
  }
  .footer-container h3 {
    font-size: 20px;
    font-weight: 700;
    padding-top: 20px;
  }
  .footer-column2,
  .footer-column3,
  .footer-column4 {
    width: 180px;
  }
  .footer-column1 {
    margin: auto;
    width: 250px;
    text-align: center;
  }
  .footer-column1 h2 {
    font-size: 40px;
  }
  .footer-column1 p {
    font-size: 18px;
  }
}
