.header-container {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: auto;
  padding: 15px;
}
h1 {
  font-style: italic;
}
h1 > a {
  text-decoration: none;
  color: #d6010d;
  margin-right: 1px;
}
.header-menu {
  display: flex;
  align-items: center;
  list-style-type: none;
}
.header-menu li > a {
  text-decoration: none;
  color: inherit;
  padding: 15px;
}
.header-menu li:nth-child(3) {
  padding-right: 15px;
}
.header-menu li:nth-child(4) {
  background-color: #d6000d;
  color: #fff;
  border-radius: 5px;
  padding: 5px 20px;
}

@media all and (max-width: 580px) {
  .header-container {
    flex-flow: column wrap;
    text-align: center;
    margin-top: 15px;
  }
  .header-container nav {
    margin: auto;
  }
  .header-menu {
    padding-top: 20px;
  }
  .header-menu li:nth-child(3) {
    padding-right: 0px;
  }
  .header-menu-login {
    display: none;
  }
}
